$icomoon-font-path: "fonts" !default;

$icon-weather-1: "\e900";
$icon-weather-2: "\e901";
$icon-weather-3: "\e902";
$icon-weather-4: "\e903";
$icon-weather-5: "\e904";
$icon-weather-6: "\e905";
$icon-weather-7: "\e906";
$icon-weather-8: "\e907";
$icon-weather-9: "\e908";
$icon-weather-10: "\e909";
$icon-weather-11: "\e90a";
$icon-weather-12: "\e90b";
$icon-weather-13: "\e90c";
$icon-weather-14: "\e90d";
$icon-weather-15: "\e90e";
$icon-weather-16: "\e90f";
$icon-weather-17: "\e910";
$icon-weather-18: "\e911";
$icon-weather-19: "\e912";
$icon-weather-20: "\e913";
$icon-weather-21: "\e914";
$icon-weather-22: "\e915";
$icon-weather-23: "\e916";
$icon-weather-24: "\e917";
$icon-weather-25: "\e918";
$icon-weather-26: "\e919";
$icon-weather-27: "\e91a";
$icon-weather-28: "\e91b";
$icon-weather-29: "\e91c";
$icon-weather-30: "\e91d";
$icon-weather-31: "\e91e";
$icon-weather-32: "\e91f";
$icon-weather-33: "\e920";
$icon-weather-34: "\e921";
$icon-weather-35: "\e922";
$icon-weather-36: "\e923";
$icon-weather-37: "\e924";
$icon-weather-38: "\e925";
$icon-weather-39: "\e926";
$icon-weather-40: "\e927";
$icon-weather-41: "\e928";
$icon-weather-42: "\e929";
$icon-weather-43: "\e92a";
$icon-weather-44: "\e92b";
$icon-weather-45: "\e92c";
$icon-weather-46: "\e92d";
$icon-weather-47: "\e92e";
$icon-alert-circled: "\f100";
$icon-alert: "\f101";
$icon-add-circle: "\f359";
$icon-add: "\f2c7";
$icon-alarm-clock: "\f35a";
$icon-alert-circle: "\f35b";
$icon-apps: "\f35c";
$icon-archive: "\f2c9";
$icon-arrow-back: "\f2ca";
$icon-arrow-down: "\f35d";
$icon-arrow-dropdown-circle: "\f35e";
$icon-arrow-dropdown: "\f35f";
$icon-arrow-dropleft-circle: "\f360";
$icon-arrow-dropleft: "\f361";
$icon-arrow-dropright-circle: "\f362";
$icon-arrow-dropright: "\f363";
$icon-arrow-dropup-circle: "\f364";
$icon-arrow-dropup: "\f365";
$icon-arrow-forward: "\f30f";
$icon-arrow-up: "\f366";
$icon-attach: "\f367";
$icon-bar: "\f368";
$icon-bicycle: "\f369";
$icon-boat: "\f36a";
$icon-bookmark: "\f36b";
$icon-bulb: "\f36c";
$icon-bus: "\f36d";
$icon-calendar: "\f2d1";
$icon-call: "\f2d2";
$icon-camera: "\f2d3";
$icon-cancel: "\f36e";
$icon-car: "\f36f";
$icon-cart: "\f370";
$icon-chat: "\f2d4";
$icon-checkbox-blank: "\f371";
$icon-checkbox-outline-blank: "\f372";
$icon-checkbox-outline: "\f373";
$icon-checkbox: "\f374";
$icon-checkmark-circle: "\f375";
$icon-clipboard: "\f376";
$icon-close: "\f2d7";
$icon-cloud-circle: "\f377";
$icon-cloud-done: "\f378";
$icon-cloud-outline: "\f379";
$icon-cloud: "\f37a";
$icon-color-palette: "\f37b";
$icon-compass: "\f37c";
$icon-contact: "\f2d8";
$icon-contacts: "\f2d9";
$icon-contract: "\f37d";
$icon-create: "\f37e";
$icon-delete: "\f37f";
$icon-desktop: "\f380";
$icon-document: "\f381";
$icon-done-all: "\f382";
$icon-done: "\f383";
$icon-download: "\f2dd";
$icon-drafts: "\f384";
$icon-exit: "\f385";
$icon-expand: "\f386";
$icon-favorite-outline: "\f387";
$icon-favorite: "\f388";
$icon-film: "\f389";
$icon-folder-open: "\f38a";
$icon-folder: "\f2e0";
$icon-funnel: "\f38b";
$icon-globe: "\f38c";
$icon-hand: "\f2e3";
$icon-hangout: "\f38d";
$icon-happy: "\f38e";
$icon-home: "\f38f";
$icon-image: "\f2e4";
$icon-laptop: "\f390";
$icon-list: "\f391";
$icon-locate: "\f2e9";
$icon-lock: "\f392";
$icon-mail: "\f2eb";
$icon-map: "\f393";
$icon-menu: "\f394";
$icon-microphone-off: "\f395";
$icon-microphone: "\f2ec";
$icon-more-horizontal: "\f396";
$icon-more-vertical: "\f397";
$icon-navigate: "\f398";
$icon-notifications-none: "\f399";
$icon-notifications-off: "\f39a";
$icon-notifications: "\f39b";
$icon-open: "\f39c";
$icon-options: "\f39d";
$icon-people: "\f39e";
$icon-person-add: "\f39f";
$icon-person: "\f3a0";
$icon-phone-landscape: "\f3a1";
$icon-phone-portrait: "\f3a2";
$icon-pin: "\f3a3";
$icon-plane: "\f3a4";
$icon-playstore: "\f2f0";
$icon-print: "\f3a5";
$icon-radio-button-off: "\f3a6";
$icon-radio-button-on: "\f3a7";
$icon-refresh: "\f3a8";
$icon-remove-circle: "\f3a9";
$icon-remove: "\f2f4";
$icon-restaurant: "\f3aa";
$icon-sad: "\f3ab";
$icon-search: "\f2f5";
$icon-send: "\f2f6";
$icon-settings: "\f2f7";
$icon-share-alt: "\f3ac";
$icon-share: "\f2f8";
$icon-star-half: "\f3ad";
$icon-star-outline: "\f3ae";
$icon-star: "\f2fc";
$icon-stopwatch: "\f2fd";
$icon-subway: "\f3af";
$icon-sunny: "\f3b0";
$icon-sync: "\f3b1";
$icon-textsms: "\f3b2";
$icon-time: "\f3b3";
$icon-train: "\f3b4";
$icon-unlock: "\f3b5";
$icon-upload: "\f3b6";
$icon-volume-down: "\f3b7";
$icon-volume-mute: "\f3b8";
$icon-volume-off: "\f3b9";
$icon-volume-up: "\f3ba";
$icon-walk: "\f3bb";
$icon-warning: "\f3bc";
$icon-watch: "\f3bd";
$icon-wifi: "\f305";
$icon-aperture: "\f313";
$icon-archive2: "\f102";
$icon-arrow-down-a: "\f103";
$icon-arrow-down-b: "\f104";
$icon-arrow-down-c: "\f105";
$icon-arrow-expand: "\f25e";
$icon-arrow-graph-down-left: "\f25f";
$icon-arrow-graph-down-right: "\f260";
$icon-arrow-graph-up-left: "\f261";
$icon-arrow-graph-up-right: "\f262";
$icon-arrow-left-a: "\f106";
$icon-arrow-left-b: "\f107";
$icon-arrow-left-c: "\f108";
$icon-arrow-move: "\f263";
$icon-arrow-resize: "\f264";
$icon-arrow-return-left: "\f265";
$icon-arrow-return-right: "\f266";
$icon-arrow-right-a: "\f109";
$icon-arrow-right-b: "\f10a";
$icon-arrow-right-c: "\f10b";
$icon-arrow-shrink: "\f267";
$icon-arrow-swap: "\f268";
$icon-arrow-up-a: "\f10c";
$icon-arrow-up-b: "\f10d";
$icon-arrow-up-c: "\f10e";
$icon-asterisk: "\f314";
$icon-at: "\f10f";
$icon-backspace-outline: "\f3be";
$icon-backspace: "\f3bf";
$icon-bag: "\f110";
$icon-battery-charging: "\f111";
$icon-battery-empty: "\f112";
$icon-battery-full: "\f113";
$icon-battery-half: "\f114";
$icon-battery-low: "\f115";
$icon-beaker: "\f269";
$icon-beer: "\f26a";
$icon-bluetooth: "\f116";
$icon-bonfire: "\f315";
$icon-bookmark2: "\f26b";
$icon-bowtie: "\f3c0";
$icon-briefcase: "\f26c";
$icon-bug: "\f2be";
$icon-calculator: "\f26d";
$icon-calendar2: "\f117";
$icon-camera2: "\f118";
$icon-card: "\f119";
$icon-cash: "\f316";
$icon-chatbox-working: "\f11a";
$icon-chatbox: "\f11b";
$icon-chatboxes: "\f11c";
$icon-chatbubble-working: "\f11d";
$icon-chatbubble: "\f11e";
$icon-chatbubbles: "\f11f";
$icon-checkmark-circled: "\f120";
$icon-checkmark-round: "\f121";
$icon-checkmark: "\f122";
$icon-chevron-down: "\f123";
$icon-chevron-left: "\f124";
$icon-chevron-right: "\f125";
$icon-chevron-up: "\f126";
$icon-clipboard2: "\f127";
$icon-clock: "\f26e";
$icon-close-circled: "\f128";
$icon-close-round: "\f129";
$icon-close2: "\f12a";
$icon-closed-captioning: "\f317";
$icon-cloud2: "\f12b";
$icon-code-download: "\f26f";
$icon-code-working: "\f270";
$icon-code: "\f271";
$icon-coffee: "\f272";
$icon-compass2: "\f273";
$icon-compose: "\f12c";
$icon-connectbars: "\f274";
$icon-contrast: "\f275";
$icon-crop: "\f3c1";
$icon-cube: "\f318";
$icon-disc: "\f12d";
$icon-document-text: "\f12e";
$icon-document2: "\f12f";
$icon-drag: "\f130";
$icon-earth: "\f276";
$icon-easel: "\f3c2";
$icon-edit: "\f2bf";
$icon-egg: "\f277";
$icon-eject: "\f131";
$icon-email-unread: "\f3c3";
$icon-email: "\f132";
$icon-erlenmeyer-flask-bubbles: "\f3c4";
$icon-erlenmeyer-flask: "\f3c5";
$icon-eye-disabled: "\f306";
$icon-eye: "\f133";
$icon-female: "\f278";
$icon-filing: "\f134";
$icon-film-marker: "\f135";
$icon-fireball: "\f319";
$icon-flag: "\f279";
$icon-flame: "\f31a";
$icon-flash-off: "\f136";
$icon-flash: "\f137";
$icon-folder2: "\f139";
$icon-fork-repo: "\f2c0";
$icon-fork: "\f27a";
$icon-forward: "\f13a";
$icon-funnel2: "\f31b";
$icon-gear-a: "\f13d";
$icon-gear-b: "\f13e";
$icon-grid: "\f13f";
$icon-hammer: "\f27b";
$icon-happy-outline: "\f3c6";
$icon-happy2: "\f31c";
$icon-headphone: "\f140";
$icon-heart-broken: "\f31d";
$icon-heart: "\f141";
$icon-help-buoy: "\f27c";
$icon-help-circled: "\f142";
$icon-help: "\f143";
$icon-home2: "\f144";
$icon-icecream: "\f27d";
$icon-image2: "\f147";
$icon-images: "\f148";
$icon-informatcircled: "\f149";
$icon-information: "\f14a";
$icon-ionic: "\f14b";
$icon-st-alarm-outline: "\f3c7";
$icon-st-alarm: "\f3c8";
$icon-st-albums-outline: "\f3c9";
$icon-st-albums: "\f3ca";
$icon-st-americanfootball-outline: "\f3cb";
$icon-st-americanfootball: "\f3cc";
$icon-st-analytics-outline: "\f3cd";
$icon-st-analytics: "\f3ce";
$icon-st-arrow-back: "\f3cf";
$icon-st-arrow-down: "\f3d0";
$icon-st-arrow-forward: "\f3d1";
$icon-st-arrow-left: "\f3d2";
$icon-st-arrow-right: "\f3d3";
$icon-st-arrow-thin-down: "\f3d4";
$icon-st-arrow-thin-left: "\f3d5";
$icon-st-arrow-thin-right: "\f3d6";
$icon-st-arrow-thin-up: "\f3d7";
$icon-st-arrow-up: "\f3d8";
$icon-st-at-outline: "\f3d9";
$icon-st-at: "\f3da";
$icon-st-barcode-outline: "\f3db";
$icon-st-barcode: "\f3dc";
$icon-st-baseball-outline: "\f3dd";
$icon-st-baseball: "\f3de";
$icon-st-basketball-outline: "\f3df";
$icon-st-basketball: "\f3e0";
$icon-st-bell-outline: "\f3e1";
$icon-st-bell: "\f3e2";
$icon-st-body-outline: "\f3e3";
$icon-st-body: "\f3e4";
$icon-st-bolt-outline: "\f3e5";
$icon-st-bolt: "\f3e6";
$icon-st-book-outline: "\f3e7";
$icon-st-book: "\f3e8";
$icon-st-bookmarks-outline: "\f3e9";
$icon-st-bookmarks: "\f3ea";
$icon-st-box-outline: "\f3eb";
$icon-st-box: "\f3ec";
$icon-st-briefcase-outline: "\f3ed";
$icon-st-briefcase: "\f3ee";
$icon-st-browsers-outline: "\f3ef";
$icon-st-browsers: "\f3f0";
$icon-st-calculator-outline: "\f3f1";
$icon-st-calculator: "\f3f2";
$icon-st-calendar-outline: "\f3f3";
$icon-st-calendar: "\f3f4";
$icon-st-camera-outline: "\f3f5";
$icon-st-camera: "\f3f6";
$icon-st-cart-outline: "\f3f7";
$icon-st-cart: "\f3f8";
$icon-st-chatboxes-outline: "\f3f9";
$icon-st-chatboxes: "\f3fa";
$icon-st-chatbubble-outline: "\f3fb";
$icon-st-chatbubble: "\f3fc";
$icon-st-checkmark-empty: "\f3fd";
$icon-st-checkmark-outline: "\f3fe";
$icon-st-checkmark: "\f3ff";
$icon-st-circle-filled: "\f400";
$icon-st-circle-outline: "\f401";
$icon-st-clock-outline: "\f402";
$icon-st-clock: "\f403";
$icon-st-close-empty: "\f404";
$icon-st-close-outline: "\f405";
$icon-st-close: "\f406";
$icon-st-cloud-download-outline: "\f407";
$icon-st-cloud-download: "\f408";
$icon-st-cloud-outline: "\f409";
$icon-st-cloud-upload-outline: "\f40a";
$icon-st-cloud-upload: "\f40b";
$icon-st-cloud: "\f40c";
$icon-st-cloudy-night-outline: "\f40d";
$icon-st-cloudy-night: "\f40e";
$icon-st-cloudy-outline: "\f40f";
$icon-st-cloudy: "\f410";
$icon-st-cog-outline: "\f411";
$icon-st-cog: "\f412";
$icon-st-color-filter-outline: "\f413";
$icon-st-color-filter: "\f414";
$icon-st-color-wand-outline: "\f415";
$icon-st-color-wand: "\f416";
$icon-st-compose-outline: "\f417";
$icon-st-compose: "\f418";
$icon-st-contact-outline: "\f419";
$icon-st-contact: "\f41a";
$icon-st-copy-outline: "\f41b";
$icon-st-copy: "\f41c";
$icon-st-crop-strong: "\f41d";
$icon-st-crop: "\f41e";
$icon-st-download-outline: "\f41f";
$icon-st-download: "\f420";
$icon-st-drag: "\f421";
$icon-st-email-outline: "\f422";
$icon-st-email: "\f423";
$icon-st-eye-outline: "\f424";
$icon-st-eye: "\f425";
$icon-st-fastforward-outline: "\f426";
$icon-st-fastforward: "\f427";
$icon-st-filing-outline: "\f428";
$icon-st-filing: "\f429";
$icon-st-film-outline: "\f42a";
$icon-st-film: "\f42b";
$icon-st-flag-outline: "\f42c";
$icon-st-flag: "\f42d";
$icon-st-flame-outline: "\f42e";
$icon-st-flame: "\f42f";
$icon-st-flask-outline: "\f430";
$icon-st-flask: "\f431";
$icon-st-flower-outline: "\f432";
$icon-st-flower: "\f433";
$icon-st-folder-outline: "\f434";
$icon-st-folder: "\f435";
$icon-st-football-outline: "\f436";
$icon-st-football: "\f437";
$icon-st-game-controller-a-outline: "\f438";
$icon-st-game-controller-a: "\f439";
$icon-st-game-controller-b-outline: "\f43a";
$icon-st-game-controller-b: "\f43b";
$icon-st-gear-outline: "\f43c";
$icon-st-gear: "\f43d";
$icon-st-glasses-outline: "\f43e";
$icon-st-glasses: "\f43f";
$icon-st-grid-view-outline: "\f440";
$icon-st-grid-view: "\f441";
$icon-st-heart-outline: "\f442";
$icon-st-heart: "\f443";
$icon-st-help-empty: "\f444";
$icon-st-help-outline: "\f445";
$icon-st-help: "\f446";
$icon-st-home-outline: "\f447";
$icon-st-home: "\f448";
$icon-st-infinite-outline: "\f449";
$icon-st-infinite: "\f44a";
$icon-st-informatempty: "\f44b";
$icon-st-informatoutline: "\f44c";
$icon-st-information: "\f44d";
$icon-st-ionic-outline: "\f44e";
$icon-st-keypad-outline: "\f44f";
$icon-st-keypad: "\f450";
$icon-st-lightbulb-outline: "\f451";
$icon-st-lightbulb: "\f452";
$icon-st-list-outline: "\f453";
$icon-st-list: "\f454";
$icon-st-locatoutline: "\f455";
$icon-st-location: "\f456";
$icon-st-locked-outline: "\f457";
$icon-st-locked: "\f458";
$icon-st-loop-strong: "\f459";
$icon-st-loop: "\f45a";
$icon-st-medical-outline: "\f45b";
$icon-st-medical: "\f45c";
$icon-st-medkit-outline: "\f45d";
$icon-st-medkit: "\f45e";
$icon-st-mic-off: "\f45f";
$icon-st-mic-outline: "\f460";
$icon-st-mic: "\f461";
$icon-st-minus-empty: "\f462";
$icon-st-minus-outline: "\f463";
$icon-st-minus: "\f464";
$icon-st-monitor-outline: "\f465";
$icon-st-monitor: "\f466";
$icon-st-moon-outline: "\f467";
$icon-st-moon: "\f468";
$icon-st-more-outline: "\f469";
$icon-st-more: "\f46a";
$icon-st-musical-note: "\f46b";
$icon-st-musical-notes: "\f46c";
$icon-st-navigate-outline: "\f46d";
$icon-st-navigate: "\f46e";
$icon-st-nutritoutline: "\f46f";
$icon-st-nutrition: "\f470";
$icon-st-paper-outline: "\f471";
$icon-st-paper: "\f472";
$icon-st-paperplane-outline: "\f473";
$icon-st-paperplane: "\f474";
$icon-st-partlysunny-outline: "\f475";
$icon-st-partlysunny: "\f476";
$icon-st-pause-outline: "\f477";
$icon-st-pause: "\f478";
$icon-st-paw-outline: "\f479";
$icon-st-paw: "\f47a";
$icon-st-people-outline: "\f47b";
$icon-st-people: "\f47c";
$icon-st-person-outline: "\f47d";
$icon-st-person: "\f47e";
$icon-st-personadd-outline: "\f47f";
$icon-st-personadd: "\f480";
$icon-st-photos-outline: "\f481";
$icon-st-photos: "\f482";
$icon-st-pie-outline: "\f483";
$icon-st-pie: "\f484";
$icon-st-pint-outline: "\f485";
$icon-st-pint: "\f486";
$icon-st-play-outline: "\f487";
$icon-st-play: "\f488";
$icon-st-plus-empty: "\f489";
$icon-st-plus-outline: "\f48a";
$icon-st-plus: "\f48b";
$icon-st-pricetag-outline: "\f48c";
$icon-st-pricetag: "\f48d";
$icon-st-pricetags-outline: "\f48e";
$icon-st-pricetags: "\f48f";
$icon-st-printer-outline: "\f490";
$icon-st-printer: "\f491";
$icon-st-pulse-strong: "\f492";
$icon-st-pulse: "\f493";
$icon-st-rainy-outline: "\f494";
$icon-st-rainy: "\f495";
$icon-st-recording-outline: "\f496";
$icon-st-recording: "\f497";
$icon-st-redo-outline: "\f498";
$icon-st-redo: "\f499";
$icon-st-refresh-empty: "\f49a";
$icon-st-refresh-outline: "\f49b";
$icon-st-refresh: "\f49c";
$icon-st-reload: "\f49d";
$icon-st-reverse-camera-outline: "\f49e";
$icon-st-reverse-camera: "\f49f";
$icon-st-rewind-outline: "\f4a0";
$icon-st-rewind: "\f4a1";
$icon-st-rose-outline: "\f4a2";
$icon-st-rose: "\f4a3";
$icon-st-search-strong: "\f4a4";
$icon-st-search-light: "\f4a5";
$icon-st-settings-strong: "\f4a6";
$icon-st-settings: "\f4a7";
$icon-st-shuffle-strong: "\f4a8";
$icon-st-shuffle: "\f4a9";
$icon-st-skipbackward-outline: "\f4aa";
$icon-st-skipbackward: "\f4ab";
$icon-st-skipforward-outline: "\f4ac";
$icon-st-skipforward: "\f4ad";
$icon-st-snowy: "\f4ae";
$icon-st-speedometer-outline: "\f4af";
$icon-st-speedometer: "\f4b0";
$icon-st-star-half: "\f4b1";
$icon-st-star-outline: "\f4b2";
$icon-st-star: "\f4b3";
$icon-st-stopwatch-outline: "\f4b4";
$icon-st-stopwatch: "\f4b5";
$icon-st-sunny-outline: "\f4b6";
$icon-st-sunny: "\f4b7";
$icon-st-telephone-outline: "\f4b8";
$icon-st-telephone: "\f4b9";
$icon-st-tennisball-outline: "\f4ba";
$icon-st-tennisball: "\f4bb";
$icon-st-thunderstorm-outline: "\f4bc";
$icon-st-thunderstorm: "\f4bd";
$icon-st-time-outline: "\f4be";
$icon-st-time: "\f4bf";
$icon-st-timer-outline: "\f4c0";
$icon-st-timer: "\f4c1";
$icon-st-toggle-outline: "\f4c2";
$icon-st-toggle: "\f4c3";
$icon-st-trash-outline: "\f4c4";
$icon-st-trash: "\f4c5";
$icon-st-undo-outline: "\f4c6";
$icon-st-undo: "\f4c7";
$icon-st-unlocked-outline: "\f4c8";
$icon-st-unlocked: "\f4c9";
$icon-st-upload-outline: "\f4ca";
$icon-st-upload: "\f4cb";
$icon-st-videocam-outline: "\f4cc";
$icon-st-videocam: "\f4cd";
$icon-st-volume-high: "\f4ce";
$icon-st-volume-low: "\f4cf";
$icon-st-wineglass-outline: "\f4d0";
$icon-st-wineglass: "\f4d1";
$icon-st-world-outline: "\f4d2";
$icon-st-world: "\f4d3";
$icon-ipad: "\f1f9";
$icon-iphone: "\f1fa";
$icon-ipod: "\f1fb";
$icon-jet: "\f295";
$icon-key: "\f296";
$icon-knife: "\f297";
$icon-laptop2: "\f1fc";
$icon-leaf: "\f1fd";
$icon-levels: "\f298";
$icon-lightbulb: "\f299";
$icon-link: "\f1fe";
$icon-load-a: "\f29a";
$icon-load-b: "\f29b";
$icon-load-c: "\f29c";
$icon-load-d: "\f29d";
$icon-location: "\f1ff";
$icon-lock-combination: "\f4d4";
$icon-locked: "\f200";
$icon-log-in: "\f29e";
$icon-log-out: "\f29f";
$icon-loop: "\f201";
$icon-magnet: "\f2a0";
$icon-male: "\f2a1";
$icon-man: "\f202";
$icon-map2: "\f203";
$icon-medkit: "\f2a2";
$icon-merge: "\f33f";
$icon-mic-a: "\f204";
$icon-mic-b: "\f205";
$icon-mic-c: "\f206";
$icon-minus-circled: "\f207";
$icon-minus-round: "\f208";
$icon-minus: "\f209";
$icon-model-s: "\f2c1";
$icon-monitor: "\f20a";
$icon-more: "\f20b";
$icon-mouse: "\f340";
$icon-music-note: "\f20c";
$icon-navicon-round: "\f20d";
$icon-navicon: "\f20e";
$icon-navigate2: "\f2a3";
$icon-network: "\f341";
$icon-no-smoking: "\f2c2";
$icon-nuclear: "\f2a4";
$icon-outlet: "\f342";
$icon-paintbrush: "\f4d5";
$icon-paintbucket: "\f4d6";
$icon-paper-airplane: "\f2c3";
$icon-paperclip: "\f20f";
$icon-pause: "\f210";
$icon-person-add2: "\f211";
$icon-person-stalker: "\f212";
$icon-person2: "\f213";
$icon-pie-graph: "\f2a5";
$icon-pin2: "\f2a6";
$icon-pinpoint: "\f2a7";
$icon-pizza: "\f2a8";
$icon-plane2: "\f214";
$icon-planet: "\f343";
$icon-play: "\f215";
$icon-playstation: "\f30a";
$icon-plus-circled: "\f216";
$icon-plus-round: "\f217";
$icon-plus: "\f218";
$icon-podium: "\f344";
$icon-pound: "\f219";
$icon-power: "\f2a9";
$icon-pricetag: "\f2aa";
$icon-pricetags: "\f2ab";
$icon-printer: "\f21a";
$icon-pull-request: "\f345";
$icon-qr-scanner: "\f346";
$icon-quote: "\f347";
$icon-radio-waves: "\f2ac";
$icon-record: "\f21b";
$icon-refresh2: "\f21c";
$icon-reply-all: "\f21d";
$icon-reply: "\f21e";
$icon-ribbon-a: "\f348";
$icon-ribbon-b: "\f349";
$icon-sad-outline: "\f4d7";
$icon-sad2: "\f34a";
$icon-scissors: "\f34b";
$icon-search2: "\f21f";
$icon-settings2: "\f2ad";
$icon-share2: "\f220";
$icon-shuffle: "\f221";
$icon-skip-backward: "\f222";
$icon-skip-forward: "\f223";
$icon-social-android-outline: "\f224";
$icon-social-android: "\f225";
$icon-social-angular-outline: "\f4d8";
$icon-social-angular: "\f4d9";
$icon-social-apple-outline: "\f226";
$icon-social-apple: "\f227";
$icon-social-bitcoin-outline: "\f2ae";
$icon-social-bitcoin: "\f2af";
$icon-social-buffer-outline: "\f228";
$icon-social-buffer: "\f229";
$icon-social-chrome-outline: "\f4da";
$icon-social-chrome: "\f4db";
$icon-social-codepen-outline: "\f4dc";
$icon-social-codepen: "\f4dd";
$icon-social-css3-outline: "\f4de";
$icon-social-css3: "\f4df";
$icon-social-designernews-outline: "\f22a";
$icon-social-designernews: "\f22b";
$icon-social-dribbble-outline: "\f22c";
$icon-social-dribbble: "\f22d";
$icon-social-dropbox-outline: "\f22e";
$icon-social-dropbox: "\f22f";
$icon-social-euro-outline: "\f4e0";
$icon-social-euro: "\f4e1";
$icon-social-facebook-outline: "\f230";
$icon-social-facebook: "\f231";
$icon-social-foursquare-outline: "\f34c";
$icon-social-foursquare: "\f34d";
$icon-social-freebsd-devil: "\f2c4";
$icon-social-github-outline: "\f232";
$icon-social-github: "\f233";
$icon-social-google-outline: "\f34e";
$icon-social-google: "\f34f";
$icon-social-googleplus-outline: "\f234";
$icon-social-googleplus: "\f235";
$icon-social-hackernews-outline: "\f236";
$icon-social-hackernews: "\f237";
$icon-social-html5-outline: "\f4e2";
$icon-social-html5: "\f4e3";
$icon-social-instagram-outline: "\f350";
$icon-social-instagram: "\f351";
$icon-social-javascript-outline: "\f4e4";
$icon-social-javascript: "\f4e5";
$icon-social-linkedin-outline: "\f238";
$icon-social-linkedin: "\f239";
$icon-social-markdown: "\f4e6";
$icon-social-nodejs: "\f4e7";
$icon-social-octocat: "\f4e8";
$icon-social-pinterest-outline: "\f2b0";
$icon-social-pinterest: "\f2b1";
$icon-social-python: "\f4e9";
$icon-social-reddit-outline: "\f23a";
$icon-social-reddit: "\f23b";
$icon-social-rss-outline: "\f23c";
$icon-social-rss: "\f23d";
$icon-social-sass: "\f4ea";
$icon-social-skype-outline: "\f23e";
$icon-social-skype: "\f23f";
$icon-social-snapchat-outline: "\f4eb";
$icon-social-snapchat: "\f4ec";
$icon-social-tumblr-outline: "\f240";
$icon-social-tumblr: "\f241";
$icon-social-tux: "\f2c5";
$icon-social-twitch-outline: "\f4ed";
$icon-social-twitch: "\f4ee";
$icon-social-twitter-outline: "\f242";
$icon-social-twitter: "\f243";
$icon-social-usd-outline: "\f352";
$icon-social-usd: "\f353";
$icon-social-vimeo-outline: "\f244";
$icon-social-vimeo: "\f245";
$icon-social-whatsapp-outline: "\f4ef";
$icon-social-whatsapp: "\f4f0";
$icon-social-windows-outline: "\f246";
$icon-social-windows: "\f247";
$icon-social-wordpress-outline: "\f248";
$icon-social-wordpress: "\f249";
$icon-social-yahoo-outline: "\f24a";
$icon-social-yahoo: "\f24b";
$icon-social-yen-outline: "\f4f1";
$icon-social-yen: "\f4f2";
$icon-social-youtube-outline: "\f24c";
$icon-social-youtube: "\f24d";
$icon-soup-can-outline: "\f4f3";
$icon-soup-can: "\f4f4";
$icon-speakerphone: "\f2b2";
$icon-speedometer: "\f2b3";
$icon-spoon: "\f2b4";
$icon-star2: "\f24e";
$icon-stats-bars: "\f2b5";
$icon-steam: "\f30b";
$icon-stop: "\f24f";
$icon-thermometer: "\f2b6";
$icon-thumbsdown: "\f250";
$icon-thumbsup: "\f251";
$icon-toggle-filled: "\f354";
$icon-toggle: "\f355";
$icon-transgender: "\f4f5";
$icon-trash-a: "\f252";
$icon-trash-b: "\f253";
$icon-trophy: "\f356";
$icon-tshirt-outline: "\f4f6";
$icon-tshirt: "\f4f7";
$icon-umbrella: "\f2b7";
$icon-university: "\f357";
$icon-unlocked: "\f254";
$icon-upload2: "\f255";
$icon-usb: "\f2b8";
$icon-videocamera: "\f256";
$icon-volume-high: "\f257";
$icon-volume-low: "\f258";
$icon-volume-medium: "\f259";
$icon-volume-mute2: "\f25a";
$icon-wand: "\f358";
$icon-waterdrop: "\f25b";
$icon-wifi2: "\f25c";
$icon-wineglass: "\f2b9";
$icon-woman: "\f25d";
$icon-wrench: "\f2ba";
$icon-xbox: "\f30c";
$icon-more2: "\41";
$icon-burger2: "\42";
$icon-burger3: "\43";
$icon-burger4: "\44";
$icon-clock2: "\4f";
$icon-close22: "\50";
$icon-bookmark22: "\59";
$icon-rank: "\63";
$icon-burger: "\65";
$icon-house: "\69";
$icon-burger1: "\6a";
$icon-key1: "\6b";
$icon-zoomout: "\71";
$icon-morezoom: "\72";
$icon-search1: "\73";
$icon-search22: "\74";
$icon-map22: "\48";
$icon-micro2: "\5c";
$icon-macmouse: "\5f";
$icon-note3: "\60";
$icon-mylocation: "\68";
$icon-flag1: "\77";
$icon-pause1: "\78";
$icon-mypencil: "\79";
$icon-play1: "\7a";
$icon-poweroff: "\7b";
$icon-refresh22: "\7c";
$icon-wifi22: "\7e";
$icon-tools2: "\7f";
$icon-share22: "\80";
$icon-repeat2: "\81";
$icon-mute2: "\82";
$icon-volume3: "\83";
$icon-cornet: "\84";
$icon-star22: "\85";
$icon-light2: "\87";
$icon-trash2: "\88";
$icon-umbrella2: "\89";
$icon-camfilm: "\8b";
$icon-piggy: "\e6c0";
$icon-plugin: "\e6c1";
$icon-refresh-2: "\e6c2";
$icon-rocket: "\e6c3";
$icon-shield: "\e6c5";
$icon-close3: "\e680";
$icon-close-circle: "\e681";
$icon-search3: "\e618";
$icon-ribbon: "\e61a";
$icon-add-user: "\e6a9";
$icon-joy: "\e6a4";
$icon-pin3: "\e69b";
$icon-plug: "\e69a";
$icon-delete-user: "\e6a7";
$icon-more3: "\e632";
$icon-loop2: "\e63d";
$icon-light: "\e643";
$icon-keypad: "\e645";
$icon-graph1: "\e64d";
$icon-global: "\e64f";
$icon-gleam: "\e650";
$icon-config: "\e666";
$icon-compass3: "\e667";
$icon-comment: "\e668";
$icon-coffee2: "\e669";
$icon-check: "\e66c";
$icon-cart2: "\e66e";

